@import "variables";
@import "sidebar";

.btn {
    font-size: var(--font-down-1);
    padding: .35rem 1.5rem;
    transition: all .15s ease-in-out;
    &-flat {
        border-radius: .5rem;
    }
}

input, textarea {
    &::placeholder {
        color: $gray-600;
        transition: opacity .15s linear;
    }
    &:focus {
      &::placeholder {
          opacity: 0;
      }
  }
}

.welcome-cta,
.group-details-container,
.group-box,
.badge-card,
.alert {
    border-radius: $border-radius;
}

.nav-pills {
    &>li {
        &>a, & button {
            &:not(.active):hover {
                background-color: var(--d-selected);
            }
        }
    }
}

.new-user-wrapper .user-navigation .nav-pills li a,
.select-kit.dropdown-select-box.period-chooser .period-chooser-header {
    border-radius: 0;
}

.admin-controls {
    .nav-pills>li {
        &>a, & button {
            &:not(.active):hover {
                background-color: var(--secondary);
            }
        }
    }
}


.post-notice.old {
display: none;
}
